*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 90vh;
    width: 100%;
    background: linear-gradient(120deg, #19A6A5, #A8FE75);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 75%;
    z-index: -1;
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    margin: 10vh auto;
    background-color: rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    border-radius: 50px;
}

.main-menu{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    box-shadow: 10px 10px 50px -5px rgba(0,0,0,0.5);
    position: relative;
}

.menu-part{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transition: .4s;
}

#red{
    top: 25px;
    left: 25px;
    opacity: 0;
}
#blue{
    top: 25px;
    left: 25px;
    opacity: 0;
}
#yellow{
    top: 25px;
    left: 25px;
    opacity: 0;
}
#green{
    top: 25px;
    left: 25px;
    opacity: 0;
}
#pink{
    top: 25px;
    left: 25px;
    opacity: 0;
}
#orange{
    top: 25px;
    left: 25px;
    opacity: 0;
}




#red.ativo{
    top: -60px;
    left: 25px;
    opacity: 1;
    background-color: red;
    box-shadow: 10px 10px 50px -5px rgba(0,0,0,0.5);
}
#blue.ativo{
    top: -20px;
    left: 100px;
    opacity: 1;
    background-color: blue;
    box-shadow: 10px 10px 50px -5px rgba(0,0,0,0.5);
}
#yellow.ativo{
    top: 60px;
    left: 100px;
    opacity: 1;
    background-color: yellow;
    box-shadow: 10px 10px 50px -5px rgba(0,0,0,0.5);
}
#green.ativo{
    top: 110px;
    left: 25px;
    opacity: 1;
    background-color: green;
    box-shadow: 10px 10px 50px -5px rgba(0,0,0,0.5);
}
#pink.ativo{
    top: -20px;
    left: -50px;
    opacity: 1;
    background-color: pink;
    box-shadow: 10px 10px 50px -5px rgba(0,0,0,0.5);
}
#orange.ativo{
    top: 60px;
    left: -50px;
    opacity: 1;
    background-color: orange;
    box-shadow: 10px 10px 50px -5px rgba(0,0,0,0.5);
}